@section HTML_TITLE {
  Домашняя страница
}

@section HTML_HEADER_CSS {
  <link rel="stylesheet" href="~/css/pages/home.css" />
}

@section HTML_PAGE_NAVIGATION {
  <div class="page-navigation-left">
    <a asp-area="Authorization" asp-controller="Authorization" asp-action="Registration">
      <div class="bookmark">
        <img src="~/img/registration.svg" alt="Регистрация">
      </div>
    </a>

    <a asp-area="Authorization" asp-controller="Authorization" asp-action="Login">
      <div class="bookmark">
        <img src="~/img/login.svg" alt="Вход">
      </div>
    </a>
  </div>
}

<div class="page page-home">
  <div class="page-head">
    <p>Планирование работ по проекту</p>
  </div>

  <div class="page-body">
    <center class="item-container news">
      <div class="title">Информация</div>
      <hr>
      <div class="elements">
        <div class="element">Не секрет, что одна из серьезных проблем в проектах – превышение сроков и бюджета. От этого страдают и Исполнитель и Заказчик. Заказчик не получает ожидаемый результат, а Исполнитель – ожидаемые деньги. Казалось бы, общая проблема должна объединять, но она зачастую лишь вбивает дополнительно клинья раздора между сторонами. Чего хочет Исполнитель? Если это не афера, то в подавляющем большинстве случаев, проектная команда хочет сделать проект, а руководство хочет получить контрактные деньги. Но поскольку опытный Исполнитель знает, чего хочет Заказчик, а также знает, что бюджет имеет тенденцию заканчиваться в самый разгар его желаний, то Исполнитель стремится максимально раздуть бюджет.</div>
        <div class="element">Каждая из сторон, по-своему, права. С этим приходится мириться и в таких условиях, не договорившись окончательно, начинать проекты.</div>
        <div class="element">Ресурс — квалифицированный персонал, оборудование, расходные материалы, сырье, материальные средства, бюджет или денежные средства. Идентификация ресурсов: материальные ресурсы, человеческие ресурсы, доступность ресурсов, назначение ресурсов на операции проекта, выравнивание загрузки ресурсов.</div>
        <div class="element">Планирование ресурсов — определение того, какие ресурсы (люди, материалы, оборудование) и в каком количестве будут использованы в проекте.</div>
      </div>
    </center>
  </div>
</div>
