@section HTML_TITLE {
  Создание проекта
}

@section HTML_HEADER_CSS {
  <link rel="stylesheet" href="~/css/pages/project/create.css" />
}

@section HTML_PAGE_NAVIGATION {
  <div class="page-navigation-left">
    <a asp-area="Project" asp-controller="Project" asp-action="List">
      <div class="bookmark">
        <img src="~/img/exit.svg" alt="Назад">
      </div>
    </a>
  </div>
}

@section HTML_FOOTER_JS {
  <script src="~/js/components/alert.js"></script>
  <script src="~/js/components/input-number.js"></script>
}

<div class="page page-project-create">
  <div class="page-head">
    <p>Создание проекта</p>
  </div>

  <div class="page-body">
    <form autocomplete="off" asp-area="Project" asp-controller="Project" asp-action="Create" method="post" enctype="multipart/form-data">
      <center class="item-container">
        <input name="Name" type="text" placeholder="Наименование" maxlength="20" />
      </center>
      @if (ViewBag.ViewErrors.Name)
      {
        <center class="item-container">
          <div class="alert">
            <strong>Внимание |</strong> Используйте только английские буквы и цифры
          </div>
        </center>
      }
      <center class="item-container">
        <input name="PriceHour" type="text" pattern="[0-9]+" class="input-number" placeholder="Цена одного часа" maxlength="5" />
      </center>
      <center class="item-container submit">
        <input type="submit" value="Применить">
      </center>
    </form>
  </div>
</div>
